@media only screen and (max-width: 750px){
body{
}
.content{
}
h1{
	font-size:18px;
}
.connectBox{
	float:none;
	margin-right:none;
	background-color: transparent !important;
}
.connectBox h1{
	display:none;
}
.headerLinks{
	font-size: 10px;
}
.myName h1{
	font-size:14px !important;
}
.iconList {
	width: 200%;
	margin-right:100%;
}
.iconList li{
	clear:both;
}
#galleryBox img{
	display:none;
}
#galleryBox p{
	margin-top:100%;
	padding:40px 0px 20px 0px;
	min-width:70px;
	font-size: 12px;
}


}